/* 
  .gh-markdown-editor {
    height: 100vh;
    overflow-y: auto;

    .gh-markdown-editor-pane {
      padding: 10vw 4vw;

      textarea {}

      .CodeMirror {
        height: auto;
        min-height: 300px;
        overflow: visible;
        padding: 0;

        .CodeMirror-scroll {
          overflow: visible !important;
          min-height: 300px;
          height: 100%;
        }

        .CodeMirror-vscrollbar {
          overflow-x: hidden;
          overflow-y: scroll;
          display: none;
        }
        .CodeMirror-hscrollbar {
          overflow-y: hidden;
          overflow-x: scroll;
          display: none;
        }
        .CodeMirror-scrollbar-filler {
          display: none;
        }



      }


    }
  }


*/

*,*::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  height: 100vh;
  width: 100%;
  background-color: tomato;
  display: flex;
}

.nav {
  flex: 0 0 25%;
  background-color: teal;
}

.outer-wrapper {
  flex: 1;
  height: 100%;
  background-color: tomato;
}

/* .gh-markdown-editor  */
.mde-wrapper {
  width: 100%;
  height: 500px;
  background-color: #bbb;
  overflow-y: auto;
  overflow-x: hidden;
}

/* .gh-markdown-editor-pane  */
.mde-wrapper-inner {
  padding: 10vw 4vw 0 4vw;
  background-color: #333;
}

.focus-area {
  width: 100%;
  height: 100px;
  background-color: tan;
}

.CodeMirror {
  background-color: tan;
  height: auto;
  min-height: 300px;
  overflow: visible;
}

.CodeMirror-scroll {
  overflow: visible !important;
  min-height: 300px;

  height: auto;

  margin-bottom: 0;
  margin-right: 0;
  padding-bottom: 100px;
}


.CodeMirror-vscrollbar {
  /* overflow-x: hidden;
  overflow-y: scroll; */
  display: none !important;
}
.CodeMirror-hscrollbar {
  /* overflow-y: hidden;
  overflow-x: scroll; */
  display: none !important;
}
.CodeMirror-scrollbar-filler {
  display: none !important;
}


.editor-toolbar, .editor-statusbar {
  display: none !important;
}

/* .waypoint {
  height: 100px;
  width: 100%;
  background-color: green;
} */


/* kinda working */

/*
.outer-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mde-wrapper {
  background: #bbb;
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.editor-toolbar {
  order: 2;
}

.CodeMirror {
  height: 100%;
  flex: 1;
}

.CodeMirror-scroll {

}

.CodeMirror-vscrollbar {
}
 */
